<footer class="text-muted py-5 mt-5">
    <div class="container">
        <h4><p class="mb-1">Proyecto de Programación web</p></h4>
        
        <div class="container">
            <i class="bi bi-facebook"></i>&nbsp;&nbsp; HECHO POR  EL ALUMNO: COSME WILLIAM CRUZ RENDON
            </div>
            
                <div class="container">
                    <h5>INSTITUTO TECNOLOGICO DE SALINA CRUZ <img src="../assets/icono/LOGO-ITSAL-VECTORIZADO.png" height="60" width="100" alt=""></h5>
                    </div>
     
      
            <div class="container">
           <h4><FONT COLOR="white">Pagina con  nombre de  CASWIN &copy; 2021</FONT></h4>
            </div>
           <div class="container">
            <h4><FONT COLOR="white">Visita Nuestras Redes Sociales </FONT></h4>
            </div>
     
           <div class="sociales">
                   <a href="https://www.facebook.com/Novedades-Caswin-SPORT-105009857864024/?view_public_for=105009857864024"><img src="../assets/icono/icono1.png" alt=""></a>
                        <a href="https://twitter.com/NRendon26"><img src="../assets/icono/icono2.png" alt=""></a>
                        <a href="https://www.instagram.com/will_rendon26/"><img src="../assets/icono/icono3.png" alt=""></a>
                        <a href="https://www.youtube.com/channel/UCFljWADjttPSfo5DzfeI_6w/"><img src="../assets/icono/icono4.png" alt=""></a>
               </div>
           </div>
            
       </footer>