<app-header></app-header>

<body style="background-color:#a4afafcc;">
    <div class="container">
        <div class="row">
    <FONT FACE="impact" SIZE=5 COLOR="black">Fin de  La Guerra del Pacifico  Y Europa (1941-1945)</FONT>
        </div>
    </div>

    <main class="text-center my-5">
        <div class="container">
            <div class="row">
                

                    <p align="justify"><strong>16 de diciembre de 1944</strong><br>Los alemanes lanzan una ofensiva final en el oeste, conocida como la Batalla de las Ardenas, en un intento por reconquistar Bélgica y dividir las fuerzas Aliadas apostadas a lo largo de la frontera alemana. El 1 de enero de 1945, los alemanes están en retirada.</p>
                    <p align="justify"><strong>12 de enero de 1945</strong><br>Los soviéticos lanzan una nueva ofensiva, liberan Varsovia y <a href="/narrative/3055/es">Cracovia</a> en enero; el 13 de febrero, después de un sitio de dos meses, toman Budapest; a comienzos de abril expulsan de Hungría a los alemanes y sus los colaboradores húngaros; el 4 de abril, con la toma de Bratislava, obligan a Eslovaquia a rendirse; y toman Viena el 13 de abril.</p>
                    <p align="justify"><strong>7 de marzo de 1945</strong><br>Las tropas estadounidenses cruzan el río Rin en Remagen.</p>
                    <p align="justify"><strong>16 de abril de 1945</strong><br>Los soviéticos lanzan su ofensiva final y rodean a Berlín.</p>
                    <p align="justify"><strong>Abril de 1945</strong><br>Unidades de partisanos, al mando del líder comunista yugoslavo Josip Tito, toman Zagreb y hacen caer el régimen Ustasha. Los principales líderes de Ustasha huyen a Italia y Austria.</p>
                    <p align="justify"><strong>30 de abril de 1945</strong><br>Hitler se suicida.</p>
                <div class="embedded-narrative-wrapper embedded-narrative-half">
                                <img src="https://encyclopedia.ushmm.org/images/large/7c8cff7c-d62c-4799-9d74-e383ea5ac1d6.gif" alt="Defeat of Nazi Germany, 1942-1945 [LCID: eur86820]">
                            <h4><a href="https://encyclopedia.ushmm.org/content/es/map/defeat-of-nazi-germany-1942-1945?parent=es%2F10694" target="_blank">La derrota de la Alemania nazi, 1942-1945</a></h4>
                            <div class="embedded-narrative-caption" target="_blank">
                                
                            </div>
                            <ul class="embedded-narrative-credit list-unstyled">
                                            <li>US Holocaust Memorial Museum</li>
                                </ul>
                    <ul class="embedded-narrative-related-sites list-unstyled">
                        </ul>
                        </div>
                        
                        
<p align="justify"><strong>7 de mayo de 1945</strong><br>Alemania se rinde ante los Aliados occidentales.</p> 
                   
<div class="embedded-narrative-wrapper embedded-narrative-half">
    <img src="https://imagenes.elpais.com/resizer/p51Q0a8upqitAp-7PiQCAsHVvnk=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/35NGOTC6VPOTW4FQ4UZWINJLEM.jpg" alt="Defeat of Nazi Germany, 1942-1945 [LCID: eur86820]">
                    <p align="justify"><strong>9 de mayo de 1945</strong><br>Alemania se rinde ante los soviéticos.</p></div>
                    
                    
                        <p align="justify"><strong>6 de agosto de 1945</strong><br>Estados Unidos lanza una bomba atómica en Hiroshima.</p>
                    <p align="justify"><strong>8 de agosto de 1945</strong><br>La Unión Soviética le declara la guerra a Japón e invade Manchuria.</p>
                    
                    <p align="justify"><strong>9 de agosto de 1945</strong><br>Estados Unidos lanza una bomba atómica en Nagasaki.</p>
                                        <div class="font-italic clear-both article-metadata">
                                            <div class="embedded-narrative-wrapper embedded-narrative-half">
                                                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/semana/3ENBZXJVOVEYFKHV7GIYBXJ6GA.jpg" alt="Defeat of Nazi Germany, 1942-1945 [LCID: eur86820]" ALIGN=LEFT height="250" width="250" HSPACE=30 VSPACE=30 >
                                                <p align="justify"><strong>2 de septiembre de 1945</strong><br>Japón, habiendo acordado en principio la rendición incondicional el 14 de agosto de 1945, se rinde formalmente y finaliza la Segunda Guerra Mundial.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </main>

                      

                            <body class="bg-secondary mb-3">  
                                <div class="card-body text-center">
                                    <h3 class="text-white mt-3">Cosme William</h3>
                                <p class="h5 text-white">  <br> </p>   <br>
                                <p><a class="btn btn-warning" target="_blank" href="https://www.youtube.com/watch?v=XEBvRvMTimk">  Historia de la Guerra en  2:00 horas  =link del video Youtube.com
                                 <i class="fa fa-window-restore "></i></a></p>
                                 <div class="container p-4">
                                  <!-- Section: Images -->
                                  <section class="">
                                    <div class="row">
                                      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                        <div
                                          class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                          data-ripple-color="light"
                                        >
                                          <img
                                            src="https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/8jo2w-376057-Full-Image_GalleryCover-en-US-1528112208743._UY500_UX667_RI_VcozKvv5lBKZtw13MaZPJzs1p6sOXeTfP_TTW_.jpg"
                                            class="w-100"
                                          />
                                          <a href="#!">
                                            <div
                                              class="mask"
                                              style="background-color: rgba(20, 161, 84, 0.2);"
                                            ></div>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                        <div
                                          class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                          data-ripple-color="light"
                                        >
                                          <img
                                            src="https://i.imgur.com/BxXh1wl.jpg"
                                            class="w-100"/>
                                          <a href="#!">
                                            <div
                                              class="mask"
                                              style="background-color: rgba(17, 224, 86, 0.2);"
                                            ></div>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                        <div
                                          class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                          data-ripple-color="light"
                                        >
                                          <img
                                            src="https://historia.nationalgeographic.com.es/medio/2018/05/31/omaha-beach_3b491ee0.jpg"
                                            class="w-100"
                                          />
                                          <a href="#!">
                                            <div
                                              class="mask"
                                              style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                        <div
                                          class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                          data-ripple-color="light"
                                        >
                                          <img
                                            src="https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/cinefilia/salvar-al-soldado-ryan-cumple-veinte-anos-siete-claves-del-clasico-belico-de-steven-spielberg/ryan3/138150451-1-esl-ES/ryan3.jpg?resize=480:*"
                                            class="w-100"
                                          />
                                          <a href="#!">
                                            <div
                                              class="mask"
                                              style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                        <div
                                          class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                          data-ripple-color="light"
                                        >
                                          <img
                                            src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2017/05/world-war-2-in-color-d-day.jpg"
                                            class="w-100"
                                          />
                                          <a href="#!">
                                            <div
                                              class="mask"
                                              style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                        <div
                                          class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                          data-ripple-color="light"
                                        >
                                          <img
                                            src="https://img.europapress.es/fotoweb/fotonoticia_20150224175930_420.jpg"
                                            class="w-100"
                                          />
                                          <a href="#!">
                                            <div
                                              class="mask"
                                              style="background-color: rgba(221, 11, 11, 0.2);"
                                            ></div>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                  <!-- Section: Images -->
                                </div>
                                
                                <!-- Grid container -->
                              
                                <!-- Copyright -->
                                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                                  © 2021 NZ Shock:
                                  <a class="text-white" href="https://mdbootstrap.com/">Caswin.com</a>
                                </div>
                                </div>





 

   
<app-footer></app-footer>